.liststyle {
  color: #5a9f53;
}
.paragrph {
  text-align: left;
  padding-top: 50px;
}
.ulstyle {
  margin: 6px;
}
.Aboutsecoundimg {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 50%;
}
