.column1paragraph {
  color: #2a4146;
  text-align: start;
  padding: 20px;
}

.column1heading {
  color: #2a4146;
  padding-top: 10px;

}

.column1 {
  border: 1px solid grey;
}

.column2paragraph {
  color: #2a4146;
  text-align: start;
  padding: 20px;
  
}

.column2heading {
  color: #2a4146;
  padding-top: 10px;
}

.column2 {
  background-color: #fff;
  border: 1px solid grey;
}

