.home {
  width: 100%;
  height: 100%;
  position: relative;
}

.about {
  width: 100%;
  height: 80vh;
  position: relative;
}

.about-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/* img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.home-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.home-text h2 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

.home-img {
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 610px;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(30%);

}

/* .Hero-text h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Mabry Pro", sans-serif;
  font-style: normal;
} */

.home-text h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Mabry Pro", sans-serif;
  font-style: normal;
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(253, 255, 254) 35%,
    rgb(255, 255, 255) 100%
  );

  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  /* -webkit-background-clip: text; */
  background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-animation-rev 0.5s ease forwards;

  cursor: pointer;
}

/* Add animation on hover. */
.rainbow-text:hover {
  animation: rainbow-text-animation 0.5s ease forwards;
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}

.home-text {
  font-size: 1.3rem;
  /* text-transform: uppercase; */
  font-weight: 800;
  /* color: #2ba380; */
  /* text-shadow: 2px -1px #fff; */
}

.home-text p {
  font-size: 0.9rem;
  font-weight: 550;
  color: #fff;
  padding: 1.5rem 1rem 2rem 1rem;
  font-style: normal;
  line-height: 1.5;
}

@media screen and(max-width: 555px) {
  .home-text h1 {
    padding: 10px 20px;
  }

  .home-text p {
    font-size: 1.1rem;
    padding: 0 0 2rem 0;
  }
}

.homeimgbtn{
  background-color: #5a9f53;
    border: none;
    color: #fff;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 10px;
}