.first h1 {
  font-size: 3rem;
  margin: 1rem;
  color: #2a4146;
}
.contactbottom {
  margin: 1rem;
  padding-top: 5%;
  text-align: center;
}
.paragraph {
  margin-top: 0.5rem;
  text-align: center;
}

.contactbtn {
  background-color: lightgray;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 30px;
}
