.firstcard {
  width: 50%;
}

.paragraph p {
  padding-bottom: 30px;
}
.destination {
  margin: 4rem 6rem;
  color: #4a4a4a;
}

.destination h1 {
  font-size: 3rem;
}

.span {
  font-size: 3rem;
  margin: 2rem;
  color: #2a4146;
}
.destination h2 {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.destination h3 {
  font-size: 3rem;
  /* margin: 4rem 6rem; */
  color: #2a4146;
}

.first-des {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 4.5rem;
}
.des-text {
  width: 100%;
  text-align: start;
  font-size: 1.1rem;
  padding-bottom: 5px;
}
.des-text h2 {
  padding-bottom: 1rem;
}

.image {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

.imagee {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
  border-radius: 7px;
}

.image img {
  width: 100%;
  /* height: 100px; */
  object-fit: cover;
  border-radius: 4px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.image img:nth-child(1) {
  position: absolute;
  top: -10%;
}

.span2 {
  color: #2a4146;
}
