
/* .homecontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.clientside{
  width: 90%;
}

.name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .03em  1em;
  width: 100%;
  background-color: #71AD6C;
  margin: 0 auto;
  margin-bottom: .2em;
  border-radius: .5em;
}

.name h2{
  color: #fff;
  font-size: 1.5rem;

}

.name p{
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.answer p{
  font-size: 1rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
} */

.success{
  padding-bottom: 20px;
}

.clientimage{
  width: 80%;
  border-radius: 5%;
}



.offerstyle{
  background-color: #f2f2f2;
  margin-top: 10px;
  padding: 20px;
}
.spanstyle{
  color: red;
}
.spanstyle2{
  color: #71AD6C;
}

.paragraphstyle{

  font-size: large;
}