.footerlogo {
  width: 60%;
  height: 95%;
  object-fit: cover;
}

.iconss {
  font-size: 30px;
  color: #fff;
}
.footerstyle{
  background-color: #000;
  margin-top: 15px;
  margin-bottom: 0;
}

.followicon{
  width: 8%;
}

.copyrightstyle{
  color: #8b8b8b;
  font-size: smaller;
}
