/* .logof {
  margin: 5px;
  width: 10%;
  height: 50%;
  object-fit: cover;
}

.footer {
  padding: 0rem 1rem;
  background: #8ec038;

}

.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top i {
  color: #fff;
  font-size: 2rem;
  margin-left: 1rem;
}

.top i:hover {
  color: #000;
}
.bottom {
  padding-top: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;

}
.bottom div {
  display: flex;
  flex-direction: column;
}

.bottom h1 {
  font-size: 1.3rem;
  padding: 1rem 0 0.8rem 0;
  margin-left: 20%;
}

.followus {
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem 0 0.8rem 0;

}

.bottomfooter{
  font-size: 1rem;
  text-align: center;

  text-decoration: none;
  color: #000;
  font-weight: 600;
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 4rem 2rem;
  }
  .footer i {
    margin: 1rem 1rem 0 0;
  }

} */
.footerlogo {
  width: 60%;
  height: 95%;
  object-fit: cover;
}

.iconss {
  font-size: 40px;
  color: #fff;
}
.footerstyle{
  background-color: #000;
  margin-top: 15px;
  margin-bottom: 0;
}

.followicon{
  width: 10%;
}

.copyrightstyle{
  color: #8b8b8b;
  font-size: smaller;
}
