.Homesecoundimg {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.sectionmain{
  animation-name: fadeInUp;
  animation-duration: 5s;
  animation-fill-mode: both;
}

.Homesecoundheading {
  color: #2c7a6c;
  font-weight: 800;
  margin-top: 12px;
}

.Homesecoundparagraph {
  color: #000;
  text-align: start;
}
.homebtn {
  background-color: #2a4146; 
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 30px;
}
